<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ tour.Title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button routerLink="/request"  routerDirection="forward">  Request a Tour  </ion-button>  

</ion-content>

<ion-footer class="ion-padding">  
  <ion-button (click)="favService.add(tour);  
                        isFavorite=true;"  
                        *ngIf="!isFavorite"  
                        expand="block">  
                        Add to Favorites  
              </ion-button>  
              <ion-button (click)="favService.remove(tour);  
                          isFavorite=false;"  
                          *ngIf="isFavorite"  
                          expand="block">  
                          Remove from Favorites  
              </ion-button>  
    </ion-footer> 